.mainTwo {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/* one */
.mainTwoItemOne {
  position: relative;
  width: 60%;
  height: 100%;
  padding: 10px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainTwoItemOneHeading {
  position: relative;
  width: 80%;
  height: auto;
  padding: 20px;
}

.mainTwoItemOneHeadingHolder {
  position: relative;
  width: fit-content;
  height: auto;
}

.mainTwoItemOneHeadingDesign {
  position: absolute;
  top: -12px;
  right: -30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ff664b;
  z-index: 0;
}

.mainTwoItemOneHeading h1 {
  position: relative;
  width: auto;
  height: auto;
  font-size: 60px;
  font-weight: 700;
  color: #222;
}

.mainTwoItemOneSub {
  position: relative;
  width: 80%;
  height: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.mainTwoItemOneSubHeading {
  position: relative;
  width: 80%;
  height: auto;
  padding: 20px 0px;
}

.mainTwoItemOneSubHeading h2 {
  position: relative;
  width: auto;
  height: auto;
  font-size: 30px;
  color: #111;
}

.mainTwoItemOneSubPara {
  position: relative;
  width: 80%;
  height: auto;
}

.mainTwoItemOneSubPara p {
  position: relative;
  width: auto;
  height: auto;
  font-size: 20px;
  font-weight: 450;
  line-height: 32px;
  color: #111;
}

.mainTwoItemTwo {
  position: relative;
  width: 40%;
  height: 700px;
  padding: 10px;
}

.mainTwoItemTwoImage {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: auto;
    height: auto;
}